@font-face {
    font-family: yekan;
    src: url(../font/iranyekanwebbold.ttf);
}

*{
    direction: rtl;
    font-family: yekan;
    box-sizing: border-box;
}

body{
    margin: 0px;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
    cursor: pointer;
}

/*HEADER*/
/*collapse*/
.my-btn-collapse{
    border: none;
}

.my-btn-collapse:focus{
    border: none;
    outline: none;
    box-shadow: none;
}

.my-collapse-item-right{
    color: #333;
    margin-top: 20px;
    margin-right: 15px;
    transition: all 0.5s;
}

.my-collapse-item-right:hover{
    color: #304aca;
}

.my-collapse-item-left{
    margin-top: 10px;
    margin-right: 15px;
}

.my-collapse-item-text{
    color: #333;
}

.my-collapse-item-btn{
    background-color: #f2f2f2;
    border-radius: 4px;
    padding: 2px 6px;
    color: #0697f8;
    margin-left: 5px;
}


/*collapse*/
/*NAV*/
/*NAVBAR TOP*/
.line1 , .line2 , .line3{
    margin: 5px 0px;
    width: 25px;
    height: 3px;
    background-color: #304aca;
}

@media(max-width : 768px) {
    .my-navbar-brand{
        display: none;
    }

    .my-navbar-form{
        display: none;
    }

    .my-navbar-ul{
        display: none;
    }

    .my-navbar-text-tb{
        color: #304aca;
    }
    
    .my-navbar-btn-tb{
        margin: 0px 10px;
        color: #304aca;
    }

    .my-all-items{
        display: none;
    }

    .my-nav{
        box-shadow: 0px 6px 30px rgba(0,0,0,.06);
    }
}

@media(max-width : 320px){
    .my-navbar-btn-w-tb{
        width: 20px;
    }
}

@media(min-width : 1024px){
    .my-navbar-text-tb{
        display: none;
    }

    .my-navbar-ul-tb{
        display: none;
    }

    .my-navbar-btn-w-tb{
        display: none;
    }

    .my-navbar-collapse{
        display: none;
    }
}

.my-navbar-form{
    background-color:  #f5f5f5;
    padding: 13px 10px;
    border-radius: 10px;
}

.my-navbar-search{
    background: none;
    border: none;
    width: 700px;
}

.my-navbar-search:hover{
    border: none;
}

.my-navbar-search:focus{
    border: none;
    outline: none;
}


.my-navbar-search-icon{
    color: #304aca;
    align-items: center;
    padding: 10px;
    transition: all 0.7s;
}

.my-navbar-search-icon:hover{
    background-color:  rgba(124, 124, 124, 0.326);
    border-radius: 10px;
}

.my-navbar-icon-shop{
    color: #304aca;
}

.my-navbar-li-shop{
    transition: all 0.7s;
}

.my-navbar-li-shop:hover{
    background-color:  rgba(124, 124, 124, 0.326);
    border-radius: 10px;
}

.my-navbar-icon-user{
    color: #304aca;
}

.my-navbar-li{
    border-right: 3px solid #f5f5f5;
}

@media(max-width:1024px){
    .my-navbar-brand{
        width: 40px;
    }

    .my-navbar-search{
        width: 300px;
    }

    .my-item{
        
    }

    .my-item-span{
        font-size: 14px;
    }
}

.my-tooltip{
    position: relative;
    display: inline-block;
}

.tooltiptext{
    display: none;
    width: 500px;
    background-color: white;
    box-shadow: 1px 2px 5px #999;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    top: 40px;
    left: 15px;
    padding: 20px;
}

.my-tooltip-border{
    border-bottom: 1px solid #888;
    padding-bottom: 10px;
}

.my-tooltip-span{
    padding-top: 10px;
    align-items: center;
}

.tooltiptext::after{
    position: absolute;
}

.my-tooltip:hover .tooltiptext{
    display: block;
}

.my-login-tooltip{
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.my-login-tooltiptext{
    display: none;
    width: 200px;
    background-color: white;
    box-shadow: 1px 2px 5px #999;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    top: 40px;
    left: 8px;
    padding: 5px;
}

.my-login-tooltiptext::after{
    position: absolute;

}

.my-login-tooltip:hover .my-login-tooltiptext{
    display: block;
}

.my-login-style{
    padding: 10px;
    border-radius: 10px;
}

.my-login-style:hover{
    background-color:  rgba(124, 124, 124, 0.326);
}

.my-form-tooltip{
    position: relative;
}

.my-form-tooltiptext{
    display: none;
    width: 700px;
    background-color: white;
    box-shadow: 1px 2px 5px #999;
    border-radius: 10px;
    position: absolute;
    z-index: 1;
    top: 55px;
}

.my-form-tooltiptext::after{
    position: absolute;
}

.my-form-tooltip:hover .my-form-tooltiptext{
    display: block;
}

.my-form-tooltip-style{
    margin: 15px;
    padding: 15px;
    background-color: #ebedfa;
    border-radius: 10px;
}

.my-form-tooltip-btn{
    border: none;
    background-color: white;
    border-radius: 10px;
    transition: all 0.5s;
}

.my-form-tooltip-btn:hover{
    color: #304aca;
}

/*NAVBAR TOP*/
/*NAVBAR BOTTOM*/
.my-item-span{
    color: #333;
}

.my-item{
    transition: all 0.5s;
    padding: 10px;
}

.my-item:hover{
    background-color: rgba(124, 124, 124, 0.326);
    border-radius: 5px;
}

.my-item-border{
    border-right: 2px solid rgba(124, 124, 124, 0.326);
}

.my-grouping-tooltip{
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.my-grouping-tooltiptext{
    display: none;
    width: 300px;
    background-color: white;
    box-shadow: 1px 2px 5px #999;
    border-radius: 10px;
    position: absolute;
    z-index: 1;
    top: 30px;
    padding: 7px;
    height: 500px;
    overflow-y: scroll;
}

.my-grouping-tooltiptext::after{
    position: absolute;
}

.my-grouping-tooltip:hover .my-grouping-tooltiptext{
    display: block;
}

.my-grouping-item-style{
    display: flex;
    padding: 10px 5px;
    color: #555;
    border-radius: 5px;
    transition: all 0.5s;
}

.my-grouping-item-style:hover{
    background-color: rgba(48, 74, 202, 0.1);
    color: #304aca;
}
/*NAVBAR BOTTOM*/
/*NAV*/

.my-header{
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
}

.my-header-right{
    position: absolute;
    top: 50%;
}

.my-header-left{
    position: absolute;
    top: 30%;
    right: 62%;
}

.my-header-right-text{
    color: #21225f;
    font-weight: bolder;
}

.my-header-right-form{
    background-color: #f5f5f5;
    border: none;
    border: 1px solid #e6e6e6;
    width: 400px;
    padding: 10px;
    border-radius: 5px;
}

.my-header-right-form:focus{
    outline: none;
}

.my-header-right-btn{
    background-color: #304aca;
    color: white;
    font-size: 13px;
    padding: 15px 25px;
    margin-right: 5px;
}

.my-header-right-btn:hover{
    background-color: #21225f;
    color: white;
}


@media(max-width : 768px){
    .my-header-right{
        position: relative;
        top: 0%;
        text-align: center;
        margin-top: 15px;
    }

    .my-header-left{
        position: relative;
        top: 0%;
        right: 0%;
        text-align: center;
        margin-top: 25px;
    }
}

@media(max-width : 1024px){
    .my-header-right-text{
        font-size: 30px;
    }

    .my-header-right-form{
        width: 300px;
    }

    .my-header-right-btn{
        padding: 10px 20px;
    }

    .my-header-img{
        width: 350px;
    }
}

@media(max-width : 426px){
    .my-header-right-text{
        font-size: 25px;
    }

    .my-header-right-btn{
        margin-top: 10px;
    }
}

@media(max-width : 321px){
    .my-header-img{
        width: 300px;
    }
}
/*HEADER*/