@font-face {
    font-family: yekan;
    src: url(../font/iranyekanwebbold.ttf);
}

*{
    direction: rtl;
    font-family: yekan;
    box-sizing: border-box;
}

body{
    margin: 0px;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
    cursor: pointer;
}

/*HEADER*/
/*NAV*/
/*NAVBAR TOP*/
@media(max-width : 768px) {
    .my-navbar-brand{
        display: none;
    }

    .my-navbar-form{
        display: none;
    }

    .my-navbar-ul{
        display: none;
    }
}

.my-navbar-form{
    background-color:  #f5f5f5;
    padding: 13px 10px;
    border-radius: 10px;
}

.my-navbar-search{
    background: none;
    border: none;
    width: 700px;
}

.my-navbar-search:hover{
    border: none;
}

.my-navbar-search:focus{
    border: none;
    outline: none;
}


.my-navbar-search-icon{
    color: #304aca;
    align-items: center;
    padding: 10px;
    transition: all 0.7s;
}

.my-navbar-search-icon:hover{
    background-color:  rgba(124, 124, 124, 0.326);
    border-radius: 10px;
}

.my-navbar-icon-shop{
    color: #304aca;
}

.my-navbar-li-shop{
    transition: all 0.7s;
}

.my-navbar-li-shop:hover{
    background-color:  rgba(124, 124, 124, 0.326);
    border-radius: 10px;
}

.my-navbar-icon-user{
    color: #304aca;
}

.my-navbar-li{
    border-right: 3px solid #f5f5f5;
}

@media(max-width:1024px){
    .my-navbar-brand{
        width: 40px;
    }

    .my-navbar-search{
        width: 400px;
    }

    
}

.my-tooltip{
    position: relative;
    display: inline-block;
}

.tooltiptext{
    display: none;
    width: 500px;
    background-color: white;
    box-shadow: 1px 2px 5px #999;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    top: 40px;
    left: 15px;
    padding: 20px;
}

.my-tooltip-border{
    border-bottom: 1px solid #888;
    padding-bottom: 10px;
}

.my-tooltip-span{
    padding-top: 10px;
    align-items: center;
}

.tooltiptext::after{
    position: absolute;
}

.my-tooltip:hover .tooltiptext{
    display: block;
}

.my-login-tooltip{
    display: inline-block;
    position: relative;
}

.my-login-tooltiptext{
    display: none;
    width: 200px;
    background-color: white;
    box-shadow: 1px 2px 5px #999;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    top: 40px;
    left: 8px;
    padding: 5px;
}

.my-login-tooltiptext::after{
    position: absolute;

}

.my-login-tooltip:hover .my-login-tooltiptext{
    display: block;
}

.my-login-style{
    padding: 10px;
    border-radius: 10px;
}

.my-login-style:hover{
    background-color:  rgba(124, 124, 124, 0.326);
}

.my-form-tooltip{
    display: inline-block;
    position: relative;
}

.my-form-tooltiptext{
    display: none;
    width: 700px;
    background-color: white;
    box-shadow: 1px 2px 5px #999;
    border-radius: 10px;
    position: absolute;
    z-index: 1;
    top: 55px;
}

.my-form-tooltiptext::after{
    position: absolute;
}

.my-form-tooltip:hover .my-form-tooltiptext{
    display: block;
}

.my-form-tooltip-style{
    margin: 15px;
    padding: 15px;
    background-color: #ebedfa;
    border-radius: 10px;
}

.my-form-tooltip-btn{
    border: none;
    background-color: white;
    border-radius: 10px;
    transition: all 0.5s;
}

.my-form-tooltip-btn:hover{
    color: #304aca;
}

/*NAVBAR TOP*/
/*NAV*/
/*HEADER*/